@import '@/scss/variables.scss';

.filterItem {
  margin-bottom: 35px;
}

.filters {
  margin-bottom: 40px;
  .filterItem:last-child {
    margin-bottom: 0;
  }
}

.classSelector {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
