@import '@/scss/variables.scss';

.slot {
  background: $color-gray-2;
  border: 1px solid $color-gray-3;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &:hover {
    background: lighten($color-gray-2, 12%);
  }
}

.slotted {
  background: $color-gray-3;
}

.large {
  width: 150px;
  height: 200px;
}

.medium {
  width: 100px;
  height: 100px;
}

.small {
  width: 75px;
  height: 75px;
}

.tiny {
  width: 50px;
  height: 50px;
}
