@import '@/scss/variables.scss';

.slotHeader {
  border-bottom: 1px solid $color-gray-3;
}

.slotDetail {
  p {
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: bold;
    &.primaryWeapon {
      margin-bottom: 5px;
    }
  }

  .slotValue {
    font-weight: normal;
    font-size: 14px;
  }
}
