@import '@/scss/variables.scss';

.collapsible {
  margin: 5px 0;

  .header {
    background-color: $color-gray-2;
    color: $color-gray-4;
    padding: 10px;
    cursor: pointer;
    font-weight: $font-weight-bold;
    &.innerHeader {
      background: transparent;
    }
  }

  .content {
    color: $color-gray-4;
    font-weight: $font-weight-bold;
    padding: 10px;

    .collapsible {
      margin-left: 10px;

      .header {
        padding: 5px;
      }

      .content {
        padding: 5px;
      }
    }
  }
}
