@import '@/scss/variables.scss';

.collapsible {
  margin: 5px 0;

  .header {
    background-color: $color-gray-2;
    color: $color-gray-4;
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: $font-weight-bold;
    &.innerHeader {
      background: transparent;
    }
    &:hover {
      color: $color-gray-5;
    }
  }

  .content {
    color: $color-gray-4;
    font-weight: $font-weight-bold;
    padding: 10px;

    .collapsible {
      margin-left: 10px;

      .header {
        padding: 3px;
      }

      .content {
        padding: 3px;
      }
    }
  }
}

.arrow {
  margin-right: 10px;
}
