@import '@/scss/variables.scss';

.header {
  border-bottom: 2px solid $color-gray-4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
  margin-bottom: 40px;
  h1 {
    margin-bottom: 0;
  }
}

.shareBox {
  display: flex;
  align-items: center;
}

.copiedMessage {
  margin-right: 20px;
  color: $color-uncommon;
}

.button {
  appearance: none;
  outline: none;
  border: 1px solid $color-gray-4;
  font-family: $font-family;
  font-weight: $font-weight-medium;
  font-size: 16px;
  padding: 10px 25px;
  background: transparent;
  margin-left: 15px;
  cursor: pointer;
  transition: 0.3s linear;
  &:hover {
    background: $color-gray-4;
    color: $color-gray-1;
  }
}
