$color-gray-1: #0f0f0f; // Background, Dark Text
$color-gray-2: #1c1c1c; // Empty Slot
$color-gray-3: #797979; // Slot Background
$color-gray-4: #868686; // <hr> and weapon slit divider, primary text
$color-gray-5: #c8c8c8; // slot text color

$color-poor: #868686;
$color-common: #ffffff;
$color-uncommon: #42ff00;
$color-rare: #31abdf;
$color-epic: #c212de;
$color-legendary: #dc632f;
$color-unique: #cebb0e;

$font-weight-medium: 500;
$font-weight-bold: 700;

$font-family: 'Montserrat', sans-serif;
